<template>
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="contact in contacts">
                        <td><img v-bind:src="contact.picture.medium" class="img-circle"></td>
                        <td>{{contact.name.first}} {{contact.name.last}}</td>
                        <td>{{contact.email}}</td>
                        <td>
                            <p>Phone: {{contact.phone}}</p>
                            <p>Cell: {{contact.cell}}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    import service from '../services/personService'
    export default {
        name: 'contacts',
        data() {
            return {
                title: 'Title',
                contacts: []
            }
        },
        methods: {
 
        },
        created: function () {
            service.getContacts(this.$http).then(function(response) {
                this.contacts = response.data.results;
            })
        }
    }

</script>