<template>
    <div class="panel panel-default">
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item"><router-link to="/">Home</router-link></li>
                <li class="list-group-item"><router-link to="contacts">Contacts</router-link></li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'side',
        data() {
            return {
                title: 'Title'
            }
        }
    }

</script>