<template>
  <div id="app" class="panel panel-body">
    <div class="row">
      <div class="col-md-2"><side></side></div>
      <div class="col-md-10">
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script>
  import Hello from './components/Hello'
  import Side from './components/Side'
  import Contacts from './components/Contacts'



export default {
  name: 'app',
  components: {
    Hello,
    Side,
    Contacts
  }
}


</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
</style>